---
window:
  decorations: none
  dynamic_padding: true
  opacity: 0.85
  startup_mode: Maximized

font:
  size: {{alacritty.by_node[env.platform.node].font.size | default(alacritty.font.size, true)}}

cursor:
  style:
    blinking: On
