---
hooks: [~/workspace/hooks]

projects:
  ctags:
    source: github
    path: universal-ctags

  crosstool-ng:
    source: github
    path: crosstool-ng
    fetch:
      branch: master
      single-branch: true
      depth: 1

  vcorelib:
    source: github
    path: vkottler
    attributes: &python-mk
      python: true
      mk: true
      submodules:
        recursive: false
{% for repo in git.repos.vkottler_python_mk %}

  {{repo}}:
    source: github
    path: vkottler
    attributes: *python-mk
{% endfor %}
{% for repo in git.repos.vkottler %}

  {{repo}}:
    source: github
    path: vkottler
{% endfor %}
{% if env.platform.node in computers.gui %}

  alacritty:
    source: github
    path: alacritty
{% endif %}
{% if env.platform.node in computers.dev %}

  renode:
    source: github
    path: renode

  mcuboot:
    source: github
    path: mcu-tools

  uf2:
    source: github
    path: microsoft

  zephyr:
    source: github
    path: zephyrproject-rtos

  Prusa-Firmware:
    source: github
    path: prusa3d

  ansible:
    source: github
    path: ansible

  firmware:
    source: github
    path: project-81

  # dtc:
  #   source: github
  #   path: dgibson
{% endif %}
{% if env.platform.node in computers.pi %}

  OctoPrint:
    source: github
    path: OctoPrint

  picamera2:
    source: github
    path: raspberrypi
{% endif %}
